#!/bin/bash

# exit on first error
set -o errexit

# This script is partly generated and used to backup/restore servers with database/filesystem data

# General settings
BACKUP_DIR="{{ backup_dir }}"
MODE=$1
LANG=en
DOW=`date +%a`
BACKUP_GROUP="backup"

# Database settings
DB_HOST="{{ wp_db_server }}"
DB_PORT="{{ mysql_port }}"
DB_NAME="{{ wp_db_name }}"
DB_USER="{{ wp_db_install_user }}"
DB_BACKUP_FILE=dbdump.sql
DB_PASSWORD=$2

# Location of local data
DATA_ROOT="{{ wordpress_directory }}/wp-content"
DATA_DIR="uploads"
DATA_OWNER="{{ remote_deploy_user }}"
DATA_GROUP="{{ remote_deploy_group }}"
DATA_UMASK="u+rwX,g+rwX,o-rwx"

# Name of combined backup
DATA_BACKUP_TAR=$DOW-"{{ backup_filename  }}"

case "$MODE" in
    
 backup)
	#dump to sql file
	mysqldump --add-drop-table --single-transaction \
	    -h $DB_HOST -P $DB_PORT -u $DB_USER -p$DB_PASSWORD \
	    $DB_NAME  > $BACKUP_DIR/$DB_BACKUP_FILE
	#add sql to tar
	tar -C $BACKUP_DIR --remove-files -c -f $BACKUP_DIR/$DATA_BACKUP_TAR $DB_BACKUP_FILE
	#add local data
        tar -C $DATA_ROOT --append -f $BACKUP_DIR/$DATA_BACKUP_TAR $DATA_DIR
	#compress
        gzip -f $BACKUP_DIR/$DATA_BACKUP_TAR
	chgrp $BACKUP_GROUP $BACKUP_DIR/$DATA_BACKUP_TAR.gz
	chmod g+r,o-rwx $BACKUP_DIR/$DATA_BACKUP_TAR.gz
	if ! tar tfz $BACKUP_DIR/$DATA_BACKUP_TAR.gz &> /dev/null; then
	   echo "Integrity check of $BACKUP_DIR/DATA_BACKUP_TAR.gz failed";
	fi;
 ;;
 restore)
	tar xOf $BACKUP_DIR/$DATA_BACKUP_TAR.gz $DB_BACKUP_FILE | mysql --no-defaults --no-auto-rehash -h $DB_HOST -P $DB_PORT -u $DB_USER -p$DB_PASSWORD $DB_NAME
        tar -C $DATA_ROOT -x -z -f $BACKUP_DIR/$DATA_BACKUP_TAR.gz $DATA_DIR
	chown -R $DATA_OWNER:$DATA_GROUP $DATA_ROOT/$DATA_DIR
	chmod -R $DATA_UMASK $DATA_ROOT/$DATA_DIR
 ;;
esac
