<?php
// Before removing this file, please verify the PHP ini setting `auto_prepend_file` does not point to this.

if (file_exists('{{ wordpress_directory }}/wp-content/plugins/wordfence/waf/bootstrap.php')) {
	define("WFWAF_LOG_PATH", '{{ wordpress_directory }}/wp-content/wflogs/');
	include_once '{{ wordpress_directory }}/wp-content/plugins/wordfence/waf/bootstrap.php';
}
?>